{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Edit Food Menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/editmenustyle.css' %}">
</head>

<body>
    <section class="header">
        <nav>
            <a href="{% url 'foodcateringapp:editmenuindex' %}">
                <img src="{% static 'Image/FEGC WHITE.png' %}" alt="Logo" />
            </a>
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'foodcateringapp:mainindex' %}">HOME</a></li>
                    <li><a href="">Profile</a></li>
                    <li><a href="">Edit Food Menu</a></li>
                    <li><a href="">Add Food Menu</a></li>
                    <li><a href="">Graph</a></li>
                    <li><a href="">Charts</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <div class="container">
        <h1>Edit Product</h1>
        <form method="post" enctype="multipart/form-data" id="editProductForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Changes</button>
            <a href="{% url 'foodcateringapp:editmenuindex' %}">Cancel</a>
        </form>
    </div>
</body>

</html>
