<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="author" content="Wai Hpone">
    <meta name="description" content="Event Page">
    <title>Online Food Catering System</title>
</head>

<body>
    <div class="navbar">
        <div class="icon">
            <h2 class="logo">FoodEdge</h2>
        </div>
        <div class="menu">
            <ul>
                <li><a href="{% url 'foodcateringapp:mainindex' %}">Home</a></li>
                <li><a href="{% url 'foodcateringapp:trackorderindex' %}">Orders</a></li>
                <li><a href="{% url 'foodcateringapp:foodmenu' %}">Menu</a></li>
                <li><a href="{% url 'foodcateringapp:booking' %}">Booking</a></li>
                <li><a href="{% url 'foodcateringapp:profile' %}">Profile</a></li>
            </ul>
        </div>
    </div>


    <footer>
        <div class="footer1">
            <div class="FoodEdge">
                <h3>Food Edge</h3>
                <ul>
                    <li><a href="{% url 'foodcateringapp:mainindex' %}" id="linkdarktheme">Home</a></li>
                    <li><a href="{% url 'foodcateringapp:foodmenu' %}" id="linkdarktheme">Menu</a></li>
                    <li><a href="{% url 'foodcateringapp:foodmenu' %}" id="linkdarktheme">Orders</a></li>
                    <li><a href="{% url 'foodcateringapp:booking' %}" id="linkdarktheme">Booking</a></li>
                    <li><a href="{% url 'foodcateringapp:profile' %}" id="linkdarktheme">Profile</a></li>
                </ul>
            </div>
            <div class="flocation">
                <h3>Location</h3>
                <ul>
                    <li>Jalan Simpang Tiga,</li>
                    <li>93350 Kuching, Sarawak</li>
                </ul>
            </div>
            <div class="fcontact">
                <h3>Contact</h3>
                <ul>
                    <li>Phone: 012-345 6789</li>
                    <li>Email: <a href="mailto:102768533@students.swinburne.edu.my" id="linkdarktheme">FoodEdge</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>